{% extends 'base.html.twig' %}

{% block title %}Poll{% endblock %}

{% block body %}
    <h1>Poll</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ poll.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ poll.title }}</td>
            </tr>
            <tr>
                <th>CustomUrl</th>
                <td>{{ poll.customUrl }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ poll.description }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ poll.createdAt ? poll.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ExpiracyDate</th>
                <td>{{ poll.expiracyDate ? poll.expiracyDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Kind</th>
                <td>{{ poll.kind }}</td>
            </tr>
            <tr>
                <th>AllowedAnswers</th>
                <td>{{ poll.allowedAnswers ? poll.allowedAnswers|join(', ') : '' }}</td>
            </tr>
            <tr>
                <th>ModificationPolicy</th>
                <td>{{ poll.modificationPolicy }}</td>
            </tr>
            <tr>
                <th>MailOnComment</th>
                <td>{{ poll.mailOnComment ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>MailOnVote</th>
                <td>{{ poll.mailOnVote ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>HideResults</th>
                <td>{{ poll.hideResults ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>ShowResultEvenIfPasswords</th>
                <td>{{ poll.showResultEvenIfPasswords ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ poll.password }}</td>
            </tr>
            <tr>
                <th>AdminKey</th>
                <td>{{ poll.adminKey }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('poll_index') }}">back to list</a>

    <a href="{{ path('poll_edit', {'id': poll.id}) }}">edit</a>

    {{ include('poll/_delete_form.html.twig') }}
{% endblock %}
