{% extends 'base.html.twig' %}
{% block title %}migration depuis un Framadate version 1 vers {{ WEBSITE_NAME }} version funky{% endblock %}
{% block body %}

<main>

    <h1>🍰 Migration des sondages depuis un Framadate version 1 </h1>
    <fieldset>
        Depuis la base de données <strong>
            {{ OLD_DATABASE_NAME }}
        </strong>
        avec l'utilisateur <strong>
            {{ OLD_DATABASE_USER }}
        </strong> vers la base symfony locale, telle que configurée dans le fichier <strong> .env </strong>.
    </fieldset>
    <fieldset>

        🎉 Ont été migrés:
        <ul>
            <li>
                🎈 Sondages: {{ counters.polls }}
            </li>
            <li>
                🍾 stacks of vote: {{ counters.polls }}
            </li>
            <li>
                🧁 slots : {{ counters.choices }}
            </li>
            <li>
                🍰 votes : {{ counters.votes }}
            </li>
            <li>
                ☕ comments : {{ counters.comments }}
            </li>

        </ul>
    </fieldset>
    <section class="well">
        <hr>

        Debug:
        <br>
    {{ debug | nl2br}}
    </section>

</main>
    <style type="text/css">
        main {
            margin: 0 auto;
            width: 90vw;
        }
        fieldset{
            margin-bottom: 1em;
        }
        .well{
            font-size: 0.85rem;
            background: #dedede;
            padding: 1em;
        }
        html, body, main, header, footer, div {
            font-family: Ubuntu, Arial, sans-serif;
        }

        .email {
            padding: 1em;
        }

        .footer-content {
            margin-top: 1em;
            background: #f2dff2;
        }

        ul {
            border-left: 3px solid #f2dff2;
        }

        h1, h2, h3 {
            color: #3c334a;
        }
    </style>

{% endblock %}
