{#[Framadate][expiration] Sondage: TESSSSSSSSSST#}
{% extends 'email-base.html.twig' %}
{% block content %}


    <h1> 🎌  Votre sondage {{  poll.title }} va bientôt expirer dans 1 jour,</h1>
    <blockquote>
      le  {{ poll.expiracyDate | date('D Y-m-d') }} :
    </blockquote>
    il ne sera plus possible d'y voter. <br>
    Dans 31 jours il sera supprimé.<br>
    Vous pouvez exporter ses données à tout moment en vous rendant à ce lien pour l'administrer:
    <br>
    {% include 'emails/partial/admin_link.html.twig' %}

    <hr>
    Plus de détails sur votre sondage :
    {% include 'emails/partial/poll.html.twig' %}
{% endblock %}
