<div class="footer-content" style="text-align:center; padding: 1em;">
    {{ WEBSITE_NAME }} est un logiciel libre, tout le monde peut
    <a href="https://framateam.org/ux-framatrucs/channels/framadate">
        l'améliorer.
    </a>
    <br>
    Merci de votre confiance.
    <br>
    <a href="{{ BASE_URL }}">
        {{ WEBSITE_NAME }} {{ BASE_URL }}
    </a>
    <br>
    <a href="https://framagit.org/framasoft/framadate/funky-framadate-front">
        Sources du client Front end,
    </a>
    <a href="https://framagit.org/tykayn/date-poll-api">
        API back end.
    </a>
    <a href="https://framagit.org/framasoft/framadate/funky-framadate-front/docs">
        Documentation
    </a>


</div>
