{#[Framadate] Notification d'un sondage : TESSSSSSSSSST#}
{% extends 'email-base.html.twig' %}
{% block content %}
    <strong>
        {{ owner.pseudo }}
    </strong>
    vient de voter au sondage.
    <br>
    Vous pouvez retrouver votre sondage avec le lien suivant :
    {% include 'emails/partial/admin_link.html.twig' %}
    {% include 'emails/partial/public_link.html.twig' %}

{% endblock %}
