<!doctype html>
<html lang="en">
<head>
</head>
<body>
<div class="email">


    <header>
        {% block title %}
            {% if  title is defined %}
                <h1 class="text-center">{{ title }} - {{ WEBSITE_NAME }}</h1>
            {% else %}
                <h1 class="text-center">{{ WEBSITE_NAME }}</h1>
            {% endif %}
            <hr>
        {% endblock %}
        {% block stylesheets %}{% endblock %}
    </header>
    <main>

        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
            {% include 'emails/footer.html.twig' %}
        {% endblock %}
    </footer>

</div>
<style type="text/css">
    .text-center{
        text-align:center;
    }
    html, body, main, header, footer, div {
        font-family: "Open Sans", "Helvetica Neue", sans-serif;
    }

    .email {
        padding: 1em;
    }

    .footer-content {
        margin-top: 1em;
        background: #f2dff2;
    }

    ul {
        border-left: 3px solid #f2dff2;
    }

    a {
        padding: 1em;
        border-radius: 3px;
        background: #ceb4f5;
        color: #201b27;
        margin: 0.5rem 0;
        display: inline-block;
    }

    h1, h2, h3 {
        color: #3c334a;
    }
</style>
</body>
</html>
