<div class="poll">
    <h1>
        Sondage {{ poll.title }}
    </h1>
    <br>
    <div class="creation">
        créé le {{ poll.createdAt| date('Y m d ') }}
    </div>
    <div class="creation">
        expirera le {{ poll.expiracyDate| date('Y m d ') }}
    </div>
    <span class="votes-count">
                    {{ poll.stacksOfVotes |length }} votes
                </span>
    <span class="votes-count">
                    {{ poll.comments |length }} commentaires
                </span>
    {% if poll.password |length %}
        <div class="protected">
        🔐 (accès avec mot de passe)
        </div>
    {% else %}
    {% endif %}
    {% if poll.isZeroKnowledge |length %}
        <div class="protected-zero-knoledge">
            🔐 Ce sondage bénéficie du chiffrement Zéro knowledge, nos administrateurs ne sont pas en mesure de connaître les informations du sondage.
        </div>
    {% else %}
    {% endif %}
    <br>

    <div class="public">
                <div>
                    lien à donner aux votants:
                </div>
        {% include 'emails/partial/public_link.html.twig' %}
    </div>
    <div class="admin">
                <div>
                    administration:
                </div>
        {% include 'emails/partial/admin_link.html.twig' %}
    </div>
</div>
