<span class="public-link">
	{% if poll.customUrl |length %}
        <a href="{{ BASE_URL }}/#/poll/{{ poll.customUrl }}/consultation">

✉️  {{ BASE_URL }}/#/poll/{{ poll.customUrl }}/consultation
            </a>
        {% else %}
        erreur, il manque la customUrl de ce sondage.
    {% endif %}
</span>
